form.form-example {
    display: table;
}

div.form-example {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}

header {
  color: white;
  opacity: .7;
  font-family: 'Fascinate Inline', cursive;
  text-align: center;
}

footer {
  color: grey;
  opacity: .7;
  text-align: center;
  font-size: 12px;
}

body {
  background-color: lightblue;
}

#result {
  display: none;
}
